.article {
  display: flex;
  width: 941px;
  height: auto;
  border-radius: 5px;
  background: #FFFFFF;
  &__first-wrapper {
    display: flex;
    flex-direction: column;
    margin: 15px auto 24px 19px;
    &-header {
      display: flex;
      width: auto;
      height: 28px;
      margin-bottom: 6px;
      &-title {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        display: flex;
        align-items: center;
        a {
          text-decoration: none;
          color: #1890FF;
        }
      }
      &-button {
        display: flex;
        background-image: url("../../image/heart 1.svg");
        background-color: #FFFFFF;
        width: 16px;
        height: 16px;
        margin: auto 5px auto 15px;
      }
      &-likes {
        display: flex;
        margin: auto 0;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
      }
    }
    &-tags {
      display: flex;
      flex-basis: 100px;
      max-height: 20px;
      &-tag {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        padding: 3px 5px;
        max-height: 20px;
        border:  1px solid rgba(0, 0, 0, 0.5);
        border-radius: 2px;
        margin-right: 8px;
      }
    }
    &-description {
      max-width: 682px;
      font-weight: 400;
      font-size: 12px;
      line-height: 22px;
      overflow-wrap: break-word;
      overflow: hidden;
      max-height: 40px;
    }
  }
  &__second-wrapper {
    display: flex;
    flex-direction: column;
    &-wrapper-info {
      display: flex;
      flex-direction: column;
    }
    &-user-wrapper {
      display: flex;
      margin: 15px 14px auto auto;
      &-user-info {
        display: flex;
        flex-direction: column;
        margin-right: 12px;
        &-username {
          width: auto;
          display: flex;
          align-items: center;
          font-weight: 400;
          font-size: 18px;
          line-height: 28px;
          overflow-wrap: anywhere;
        }
        &-date-registration {
          display: flex;
          align-items: center;
          font-weight: 400;
          font-size: 12px;
          line-height: 22px;
          margin-left: auto;
        }
      }
      &-user-avatar {
        width: 46px;
        height: 46px;
        border-radius: 50%;
        &-image {
          border-radius: 50%;
          width: 46px;
          height: 46px;
        }
      }
    }
    &-button-wrapper {
      display: flex;
      width: 150px;
      margin: 30px 14px 0 0;
      &-buttons {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        display: flex;
        align-items: center;
        border-radius: 5px;
        padding: 6px 17px;
        background: #FFFFFF;
      }
      &-button-delete {
        border: 1px solid #F5222D;
        color: #F5222D;
        margin-right: 12px
      }
      &-button-edit {
        border: 1px solid #52C41A;
        color: #52C41A;
        a {
          color: #52C41A;
          text-decoration: none;
        }
      }

    }
  }

}